<html>

<body>

    <form method="post" action="/vendor/status">
        <p>Email</p>
        <input type="text" , name="name" required />
        </br>
        <p>Password</p>
        <input type="text" name="password" required />
        </br>
        <input type="submit" value="Submit">
    </form>


</body>

</html>