<h1>Welcome to RAMEN SNACK</h1>

<h2>Please Select your Identity</h2>

<ul>
    <li> <a href="/vendor">I am the Vendor Owner</a> </li>
    <br/>
    <li> <a href="/customer">I am the Customer</a> </li>
</ul>