<h1> Snack Detail Page </h1>
<p> See the detail of the food </p>
<ul>

    <p>{{snackName}}</p>
    <p>{{snackPrice}}</p>
    <img src = {{snackImg}} width="80", height="80">

</ul>

<a href="/snack"> Go back to Menu Page </a>