<!DOCTYPE html>
<html>
<body>

<form method="post" action="/vendor/status">
    <p>VanName</p>
    <input type="text", name="VendorName" required/>
    </br>
    <p>Password</p>
    <input type="text" name="password" required/>
    </br>
    <p>Location</p>
    <input type="text" name="location" required/>
    </br>
    <input type="submit" value="Submit">
</form>

</body>
</html>